html
    {
        margin: 0;
        height: 100%;
        background-color: #E6EBE0;
    }
body
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        flex-grow: 1;
        height: 100%;        
    }
main
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;       
    }
/* commun toutes pages */
.msg_erreur
{
    text-align: center;
    font-weight: bold;
}
/* Début Header */
#header ul
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        border: 1px solid black;
        border-radius: 15px;
        padding: 1%;
        margin-left: 3%;
        margin-right: 3%;
        background-color: #9BC1BC;
    }

#header ul li a
{
    text-decoration: none;
    color: black;
}
/* Fin Header */

/* Début page Index */
#index h1
    {
        text-align: center;
    }
#accueil
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
#topics_tendance
    {
        display: flex;
        width: 85vw;
    }
/* début tableau */
#table_tendance
    {
        display: flex;
        flex-direction: column;    
        border-radius: 15PX;
        height: auto;
        width: 80vw;
    }
#table_tendance a
    {
        text-decoration: none;
        font-weight: bold;
        color: #242331;
    }
#table_tendance a:hover
    {
        color: #ED6A5A;
    }
#table_tendance thead
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: auto;    
        border-radius: 15PX;
    }
#table_tendance thead tr
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 10vh;
        border-bottom: 1px solid black;
        box-shadow: 2px 2px 10px black;
        border-radius: 15PX;
    }
#table_tendance tbody tr
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 10vh;
        border-bottom: 1px solid black;
        box-shadow: 2px 2px 10px black;
        border-radius: 15PX;
    }
#table_tendance td
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;    
        width: 60vw;         
    }
#table_tendance tbody tr:nth-child(odd)
    {
        background-color: #5CA4A9;
    }
#table_tendance tbody tr:nth-child(even)
    {
        background-color: #9BC1BC;
    }
#table_tendance thead tr:first-child
    {
        background-color: #F4F1BB;
    }
#table_tendance thead tr:last-child
    {
        background-color: #E6EBE0;
    }
.titre_table 
    {
        font-weight: bold;       
    }
/* fin tableau */
#info_log
    {
        display: flex;
        flex-direction: column;
        width: 15vw;
        height: 60vh;
        align-items: center;
        border: 1px solid black;
        border-radius: 15px;
        overflow-y: scroll;
        background-color: #F4F1BB;
    }
#info_log hr
    {
        border: 1px solid black;
        width: 70%;
    }
#info_log section
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.avatar_accueil
    {
        width: 8vw;
    }
/* Fin page index */

/* commun toutes pages */
.msg_erreur
{
    text-align: center;
    font-weight: bold;
}

/* Début Header */
#header ul
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        border: 1px solid black;
        border-radius: 15px;
        padding: 1%;
        margin-left: 3%;
        margin-right: 3%;
    }

#header ul li a
{
    text-decoration: none;
    color: black;
}
/* Fin Header */

/* Début Page Inscription */
#inscription #formulaire
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px black solid;
    border-radius: 15px;
    margin: 2%;
    margin-bottom: 0%;
    background-color: #F4F1BB;
}
#inscription #formulaire #img_avatar
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
#inscription #formulaire #img_avatar img
{
    width: 12vw;
    height: 23vh;
    border-radius: 50%;
}
#inscription #formulaire #info_co
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#inscription #formulaire #info_co .lab_inp
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#inscription #info_perso
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 15px;
    margin: 2%;
    margin-bottom: 1%;
    background-color: #F4F1BB;
}
#inscription #info_perso p
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inscription #bouton
{
    display: flex;
    justify-content: center;
}
#inscription #bouton button
{
    width: 10vw;
    height: 10vh;
    border-radius: 50%;
    outline: none;
}
/* Fin Page Inscription */

/* Début page Topic */
#topic
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;        
        height: auto;
    }
/* début tableau topic / conversations */
.table_tc
    {
        display: flex;
        flex-direction: column;    
        border-radius: 15PX;
        height: auto;
        width: 90vw;
    }    
.table_tc a
    {
        text-decoration: none;
        font-weight: bold;
        color: #242331;;
    }
.table_tc a:hover
    {
        color: #ED6A5A;
    }
.table_tc thead
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
.table_tc thead tr
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 10vh;
        border-bottom: 1px solid black;
        box-shadow: 2px 2px 10px black;
        border-radius: 15PX;
    }
.table_tc th
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;    
        width: 60vw; 
    }
.table_tc th a
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 15vw;
    }
.table_tc tbody tr
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 10vh;
        border-bottom: 1px solid black;
        box-shadow: 2px 2px 10px black;
        border-radius: 15PX;
    }
.table_tc tbody tr:nth-child(odd)
    {
        background-color: #5CA4A9;
    }
.table_tc tbody tr:nth-child(even)
    {
        background-color: #9BC1BC;
    }
.table_tc thead tr:first-child
    {
        background-color: #F4F1BB;
    }
.table_tc thead tr:last-child
    {
        background-color: #E6EBE0;
    }
.table_tc td
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;    
        width: 60vw;         
    }   
/* fin tableau */
.form_ajout_tc
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 10vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        border: 1px solid black;
        border-radius: 15px;
        background-color: #E6EBE0;
    }
/* Fin page Topic */

/* Début page Conversation */
#conversation
    {       
        justify-content: space-around;
        align-items: center;      
    }
#conversation a
    {
        text-decoration: none;
        color: #242331;
    }
#conversation a:hover
    {
        color: #ED6A5A;
    }
#no_conv
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        padding: 5px;
        border-radius: 15px;
        background-color: #F4F1BB;
    }
/* Fin page Conversation */

/* Début page message */
#messages
    {                       
        align-items: center;     
    }
#messages a
    {
        text-decoration: none;
        color: #242331;
    }
#messages a:hover
    {
        color: #ED6A5A;
    }
.color_msg
    {
        background-color: #9BC1BC;        
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-left: 2vw;
        padding-top: 2vh;
    }
.poster_a
    {
        color: #ED6A5A;
    }
.interaction
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid black;                
        background-color: #5CA4A9;
    }
#messages h1
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20vh;
        background-color: #F4F1BB;        
    }
.messages_vu
    {
        display: flex;
        flex-direction: column;
        width: 60vw;
        border: 1px solid black;  
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-bottom: 2vh;     
    }
#titre_msg
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-basis: 50%;
    }
#form_msg
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;       
        margin-top: 5vh;
        width: 60vw;
        height: 25vh;
        background-color: #E6EBE0;
        border: 1px solid black;
        border-radius: 15px;
    }
.gestion_msg
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 10vw;
    }
.login
    {
        font-weight: bold;
        width: fit-content;
    }
/* Fin page message */
/* Footer */
footer
    {
        text-align: center;
    }

/* Début Page Connexion */
#connexion
    {
        justify-content: center;
    }
#connexion form #lab_info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    text-align: right;
    margin: 2%;
    padding: 1%;
    background-color: #F4F1BB;
}
#connexion form #lab_info input
{
    border-radius: 15px;
    margin-bottom: 2%;
    outline: none;
}
#connexion form button
{
    width: 10vw;
    height: 10vh;
    border-radius: 50%;
    outline: none;
}
/* Fin Page Connexion */

/* Début Page Profil */
#profil #formulaire
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    border: 1px black solid;
    border-radius: 15px;
    margin: 2%;
    margin-bottom: 0%;
    background-color: #F4F1BB;
}
#profil #formulaire #img_avatar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profil #formulaire #img_avatar img
{
    width: 12vw;
    height: 23vh;
    border-radius: 50%;
}
#profil #formulaire #img_avatar label
{
    font-size: 1.3em;
}
#profil #formulaire #info_co
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#profil #formulaire #info_co .label
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#profil #info_perso
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 15px;
    margin: 2%;
    margin-bottom: 1%;
    background-color: #F4F1BB;
}
#profil #info_perso .info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profil #bouton
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#profil button
{
    width: 10vw;
    height: 10vh;
    border-radius: 50%;
    outline: none;
}
#profil #info_co input,
#profil #info_perso input
{
    border-radius: 15px;
    margin-bottom: 2%;
    text-align: center;
    font-weight: bold;
    outline: none;
}
/* Fin Page Profil */

/* Début page Modération */
#moderation #tableau_users
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin: 3%;    
}
#tableau_users table
{
    border: 1px solid black;
    border-radius: 15%;
    padding: 3%;
    overflow-y: scroll; /* scroll auto à trouver ou mettre??*/
    height: 10vh; /* en ajustant la taille du height du tab??*/
    width: 70vw;
}
#moderation #msg_douteux
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    margin: 3%;
    overflow: auto;
}
#msg_douteux table
{
    border: 1px solid black;
    border-radius: 15%;
    padding: 3%;
    width: 50vw;
}
#moderation thead
{
    background-color: #F4F1BB;
}
#tableau_users tbody tr:nth-child(odd)
{
    background-color: #5CA4A9;
}
#tableau_users tbody tr:nth-child(even)
{
    background-color: #9BC1BC;
}
#msg_douteux tbody tr:nth-child(odd)
{
    background-color: #5CA4A9;
}
#msg_douteux tbody tr:nth-child(even)
{
    background-color: #9BC1BC;
}
#moderation td
{
    text-align: center;
    border-collapse: collapse;
    /* border-radius: 15px; */
}
/* Fin page Modération */

/* Début PAge membre */
#membre
{    
    align-items: center;
}
#membre #ligne
{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 15px;
    padding: 2%;
    background-color: #F4F1BB;
    width:auto;
    height: auto;
}
#membre #colonne
{
    display: flex;
    flex-direction: column;
    margin: 1%;
}
#membre #perso
{
    display: flex;
    flex-direction: column;
    margin: 1;
}
#membre #avatar_log
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#membre #avatar
{
    width: 12vw;
    height: 30vh;
    border-radius: 50%;
    margin-right: 3%;
}
#membre p
{
    font-weight: bold;
}
#membre #perso p 
{
    text-align: right;
}
#membre span
{
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
}
/* fin page membre */