html
    {
        margin: 0;
        height: 100%;
    }
body
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100%;
    }
/* commun toutes pages */
.msg_erreur
{
    text-align: center;
    font-weight: bold;
}

/* Début Header */
#header ul
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        border: 1px solid black;
        border-radius: 15px;
        padding: 1%;
        margin-left: 3%;
        margin-right: 3%;
    }

#header ul li a
{
    text-decoration: none;
    color: black;
}
/* Fin Header */

/* Début Page Inscription */
#inscription #formulaire
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px black solid;
    border-radius: 15px;
    margin: 2%;
    margin-bottom: 0%;
}
#inscription #formulaire #img_avatar
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
#inscription #formulaire #img_avatar img
{
    width: 17vw;
    height: 23vh;
    border-radius: 50%;
}
#inscription #formulaire #info_co
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inscription #formulaire #info_co .lab_inp
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#inscription #info_perso
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 15px;
    margin: 2%;
    margin-bottom: 1%;
}
#inscription #info_perso p
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inscription #bouton
{
    display: flex;
    justify-content: center;
}
#inscription #bouton button
{
    width: 10vw;
    height: 10vh;
    border-radius: 50%;
}
/* Fin Page Inscription */

/* Début target suppression */
.suppression
    {
        display: none;
    }
.suppression:target
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position:absolute;
        height: 35vh;
        width: 40vw;
        left: 30%;
        top: 30%;
        background-color: rgba(128, 133, 128, 0.884);
        border: 1px solid #138d75;
        border-radius: 10px;
    }
.suppression section
    {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-evenly;
    }
.suppression a  
    {
        text-decoration: none;
        color: black;
    }
.suppression a:hover
    {
        color: white;
    }
