html
    {
        margin: 0;
        height: 100%;
    }
body
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100%;
    }
main
    {
        height: 100%;
    }
/* commun toutes pages */
.msg_erreur
{
    text-align: center;
    font-weight: bold;
}
/* Début Header */
#header ul
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        border: 1px solid black;
        border-radius: 15px;
        padding: 1%;
        margin-left: 3%;
        margin-right: 3%;
    }

#header ul li a
{
    text-decoration: none;
    color: black;
}
/* Fin Header */

/* Début page Index */
#index h1
    {
        text-align: center;
    }
#accueil
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
#topics_tendance
    {
        display: flex;
        width: 85vw;
    }
/* début tableau */
.table_vu
    {
        display: flex;
        flex-direction: column;    
        border-radius: 15PX;
        height: auto;
        width: 80vw;
    }
.table_vu a
    {
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
.titre_table 
    {
        font-weight: bold;
    }
.table_vu a:hover
    {
        color: red;
    }
.table_vu thead
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 8vh;
        justify-content: center;
        align-items: center;
    }
.table_vu thead tr
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid black;
        box-shadow: 2px 2px 10px black;
        border-radius: 15PX;
    }
.table_vu tbody tr
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 10vh;
        border-bottom: 1px solid black;
        box-shadow: 2px 2px 10px black;
        border-radius: 15PX;
    }
.table_vu td
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;    
        width: 60vw;         
    }
/* fin tableau */
#info_log
    {
        display: flex;
        flex-direction: column;
        width: 15vw;
        align-items: center;
    }
#info_log hr
    {
        border: 1px solid black;
        width: 70%;
    }
.avatar_accueil
    {
        width: 8vw;
    }
/* Fin page index */

/* Début Page Inscription */
#inscription #formulaire
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px black solid;
    border-radius: 15px;
    margin: 2%;
    margin-bottom: 0%;
}
#inscription #formulaire #img_avatar
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
#inscription #formulaire #img_avatar img
{
    width: 17vw;
    height: 23vh;
    border-radius: 50%;
}
#inscription #formulaire #info_co
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inscription #formulaire #info_co .lab_inp
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#inscription #info_perso
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 15px;
    margin: 2%;
    margin-bottom: 1%;
}
#inscription #info_perso p
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inscription #bouton
{
    display: flex;
    justify-content: center;
}
#inscription #bouton button
{
    width: 10vw;
    height: 10vh;
    border-radius: 50%;
}
/* Fin Page Inscription */
/* Début page Topic */
#topic
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
/* Fin page Topic */
/* Footer */
footer
    {
        text-align: center;
    }
